.friend_list {
    background-color: white;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 30px;
}

.item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.name {
    color: black;
}